@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: lightblue;
    font-family: "Roboto", "sans-serif";
    margin: auto;
    min-height: 100vh;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 400px;
    padding: 20px;
    height: fit-content;
    background-color: #b5e4ae;
    border-radius: 10px;
}
h1 {
    text-align: center;
    color: #333335;
    margin: 10px 0 30px 0;
}
.search {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}
.search-text {
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
}
.search-text::after {
    border: none;
}
.submit-btn {
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #4eccc3;
    border: none;
    color: white;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: rgba(255, 255, 255, 0.91);
    color: #2573ef;
}
.data_results {
    background-color: #e2887e;
    width: 90%;
    margin: 10px auto 0;
    height: fit-content;
    padding: 20px;
    border-radius: 10px ;
}
input:focus {
    border: none;
    outline: none;
}
input.search-text{
    caret-color: #000000;
    font: 18px "Roboto", "sans-serif";
    color: #9793dd;
}
img {
    position: relative;
    left: 80px;
}
h3 {
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    color: #ddd2c2;
}
h4 {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    color: #2b2a29;
}
p {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    color: #2b2a29;
}
.data {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    background-color: #d8c3a5;
    color: #2b2a29;
    margin-top: 10px;
    border-radius: 5px;
}
.data_value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px ;
}
.data_num {
    color: #b61919;
}