@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Roboto", "sans-serif";

}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: #9793dd;
}
.wrapper-container {
    width: 400px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);

}
.wrapper .input-part{
    margin: 20px 25px 30px;
}
 .search-input .search-txt {
     display: none;
    font-size: 17px;
    text-align: center;
     padding: 12px 10px;
     border-radius: 7px;
     margin-bottom: 15px;
}
 .search-input .search-txt.error{
 color: crimson;
     display: block;
     background: #f8d7da;
     border: 1px solid #f5c6cb;
 }
.search-input .search-txt.pending{
    color: #0c5460;
    display: block;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}
.search-input :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
}
.search-input input{
    text-align: center;
    border: 1px solid #bfbfbf;
    padding: 0 15px;
}
.search-input input:is(:focus, :valid){
    border: 2px solid #43AFFC;
}
.search-input input::placeholder{
    color: #bfbfbf;
}

.search-input .separator{
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #ccc;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}
.separator::before{
    content: 'or';
    color: #ccc;
    font-size: 19px;
    padding: 0 15px;
    background: #fff;
}
.search-input button{
    color: #fff;
    cursor: pointer;
    background: cornflowerblue;
}